name: language_code
description: Get the current language code and Locale of the device. Also includes almost the language codes with English names and native names.
version: 0.4.0
homepage: https://github.com/lamnhan066/language_code

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
